.card,
.card-empty {
  padding: 1em;
  margin: 1em;
  border-radius: 1em;
  min-height: 30em;
}

.card {
  background: brown;
  color: white;
}

.season {
  text-align: center;
  font-weight: bold;
}
.season > div {
  font-size: 6rem;
}
.edict {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
}
.edict > p {
  font-size: 10rem;
}

.card img {
  width: 100%;
}

.score > div:first-child {
    text-align: center;
    font-weight: bold;
    padding: 1em;
}

.score > div:last-child {
    padding: 1em;
}

.title {
    text-align: center;
    font-weight: bold;
    padding: 1em;
}

.name {
  font-size: 2em;
}

.cost {
  float: right;
  background: gold;
  border-radius: 1em;
  width: 2em;
  height: 2em;
  text-align: center;
  color: black;
}



.explore > div:last-child {
    padding: 1em;
}

.coin > div {
  width: 50%;
}
